* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 3px solid #ddd;
  border-radius: 5px;
  background-color: white;
  transition: border-bottom-color 0.3s ease, background-color 0.3s ease;
}

input:hover {
  border-bottom-color: #022c9f;
}

input:focus {
  border-bottom-color: #022c9f;
  background-color: #ffd600;
  color: black;
  outline: none;
}

button {
  width: 83px;
  padding: 10px;
  background-color: #ffd600;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #022c9f;
  cursor: pointer;
}
